

html{
    font-family: Arial, Helvetica, sans-serif;
}


th{
    background-color: #0D5188;
    color: aliceblue;
    width: 600px;
}




.cidade{
    background-color: #C7E7Fe;
    color: #0D5188;
    font-weight: bold;
}


.numero{
    background-color: silver;
}

.pop{
    background-color: #C7E7Fe;
}

.tit{
    background-color: #66c5e3;
    font-weight: bold;
}

.posicao{
    width: 10%;
}

.pessoas{
    width: 15%;
}